  article {
    color: var(--text-color);
   

    div.country {
      display: flex;
      flex-direction: column;
      width: 280px;
      border-radius: 0 0 5px 5px;
      box-shadow: 15px 15px 20px 10px #00000093;
      .img-container {
        display: flex;
        width: inherit;
        min-height: 190px;
        max-height: 190px;
        justify-content: center;
        align-items: flex-start;
       
    background-color: var(--article-color);
        border-radius: 5px 5px 0 0;

        img {
          border-radius: inherit;
          width: inherit;
          max-height: inherit;
        }
      }
      .details {
        display: flex;
        flex-direction: column;
        height: 180px;
        border-radius: 0 0 5px 5px;
        width: inherit;
        background-color: var(--article-color);
        padding: 8px 8px 12px 20px;
        justify-content: flex-end;

        h3 {
          padding-bottom: 8px;
          font-weight: 600;
        }
        h4 {
          padding-bottom: 3px;
          span {
            font-weight: 300;
          }
        }
      }
    }
  }

